@mixin flex() {
  display: flex;
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexSpace() {
  display: flex;
  align-items: center;
  justify-content: space-evenly
}