@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
// Colors

$bg-color: hsl(225, 100%, 94%);
$greyish-color: hsl(230, 75%, 98%);
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$bright-blue-hover: hsl(245, 83%, 68%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

// Typography

$fs-1: 1rem;

$ff-red-hat: 'Red Hat Display', sans-serif;

$fw-500: 500;
$fw-700: 700;
$fw-900: 900;